html,body {
	background-color: #E0EEFF;
	font-family: sans-serif;
}

html, body, #headline {
	margin: 0;
	padding: 0;
}

#headline {
	/*background-color: #659A00;*/
	line-height: 5em;
	text-align: center;
}

#headline h1 {
	margin: 0;
}

/** Navigation */
#navigation {
	padding: 0 1em;
	text-align: center;

	border-top-left-radius: 1em;
	border-top-right-radius: 1em;
	border: 2px solid #6887bb;
	border-bottom: none;
}

#navigation ul {
	list-style-type: none;
	line-height: 3em;
	margin: 0px;
	padding: 0;
}

#navigation ul li {
	display: inline;
	padding: 0 1em;
}

#navigation h4 {
	display: none;
}

.active>a {
	margin-left: 0.4em;
	font-weight: bold;
}
/** Subnavigation */
#shorturl {
	font-family: monospace;
	font-size: 0.9em;
	border: 1px solid #ccc;
	padding: 0.5em;
}

/** Content */
#content {
	padding: 1em 2em;
	min-height: 15em;
	background-color: #6997D3;
	border-bottom-right-radius: 1em;
	border-bottom-left-radius: 1em;
	border: 2px solid #6887bb;
	border-top: none;
	color: #222;
}

#content h3 {
	margin-bottom: 0;
}

#content p {
	margin: 0.3em 0;
	text-align: justify;
}
#content .episode {
	margin: 2em 0;
}

#content a {
	font-weight: bold;
}

/** Footer */
#footer {
	text-align: center;
	line-height: 2em;
	margin-bottom: 1em;
	font-size: 0.8em;
	border-bottom-right-radius: 1em;
	border-bottom-left-radius: 1em;
}

#footer ul li {
	display: inline;
	padding: 0 0.3em;
}

#footer ul {
	list-style-type: none;
	margin: 0px;
	padding: 0 1em;
}

a {
	text-decoration: none;
	color: #00A; /*#434343;*/
}

#navigation a, #footer a {
	color: #DDD;
}

a img {
	border: 0;
        vertical-align: middle;
}

#navigation a:hover, #footer a:hover {
	color: #777;
}
 
a:hover {
	color: #EEE;
}

.showicon {
	min-height: 100px;
}

.showslug {
	padding: 0.4em 0;
}

.showslug h3 {
	padding: 0;
	margin: 0;
}

.showslug p {
}

div.showicon img, img.showicon {
	float: left;
	margin-right: 10px;
	height: 100px;
	max-width: 100px;
}

.showheader img.showicon {
	height: 150px;
	max-width: 150px;
}

.showheader {
	min-height: 150px;
}

/** Colors */

html, body {  
        background-color:       #D9E1EE;
        color:                  #0A0E13;
}

#header, #content {
        background-color:       #F0F4F9;
}

#headline {
		color: #6887BB;
}

a {     
        color:                  #34445E;
        text-decoration:        none;
}

#navigation a:hover, #footer a:hover {
        color:                  #58739F;
        text-decoration:        none;
}

a:hover {
        color:                  #0A0E13;
        text-decoration:        underline;
}

#navigation, #footer {
        background-color:       #6887BB;
}

/** Feeds */
.atom, .ical {
	background-repeat: no-repeat;
	background-position: left center;
    padding-left: 18px;
    width: 16px;
    height: 16px;
}

/** std */ 
.atom {
	background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAA4AAAAOCAYAAAAfSC3RAAAABGdBTUEAAK/INwWK6QAAABl0RVh0U29mdHdhcmUAQWRvYmUgSW1hZ2VSZWFkeXHJZTwAAAJDSURBVHjajJJNSBRhGMd/887MzrQxRSLbFuYhoUhEKsMo8paHUKFLdBDrUIdunvq4RdClOq8Hb0FBSAVCUhFR1CGD/MrIJYqs1kLUXd382N356plZFOrUO/MMz/vO83+e93n+f+1zF+kQBoOQNLBJg0CTj7z/rvWjGbEOIwKp9O7WkhtQc/wMWrlIkP8Kc1lMS8eyFHpkpo5SgWCCVO7Z5JARhuz1Qg29fh87u6/9VWL1/SPc4Qy6n8c0FehiXin6dcCQaylDMhqGz8ydS2hKkmxNkWxowWnuBLHK6G2C8X6UJkBlxUmNqLYyNbzF74QLDrgFgh9LLE0NsPKxjW1Hz2EdPIubsOFdH2HgbwAlC4S19dT13o+3pS+vcSfvUcq9YnbwA6muW9hNpym/FWBxfh0CZkKGkPBZeJFhcWQAu6EN52QGZ/8prEKW+cdXq0039UiLXhUYzdjebOJQQI30UXp6mZn+Dtam32Afu0iyrgUvN0r+ZQbr8HncSpUVJfwRhBWC0hyGV8CxXBL5SWYf9sYBidYLIG2V87/ifVjTWAX6AlxeK2C0X8e58hOr/Qa2XJ3iLMWxB1h72tHs7bgryzHAN2o2gJorTrLxRHVazd0o4TXiyV2Yjs90uzauGvvppmqcLjwmbZ3V7BO2HOrBnbgrQRqWUgTZ5+Snx4WeKfzCCrmb3axODKNH+vvUyWjqyK4DiKQ0eXSpFsgVvLJQWpH+xSpr4otg/HI0TR/t97cxTUS+QxIMRTLi/9ZYJPI/AgwAoc3W7ZrqR2IAAAAASUVORK5CYII=);
}

/** famfamfam */ 
.atom {
    background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAYAAAAf8/9hAAAABGdBTUEAAK/INwWK6QAAABl0RVh0U29mdHdhcmUAQWRvYmUgSW1hZ2VSZWFkeXHJZTwAAAJFSURBVBgZBcHda5V1AADg5/d733Oc7tjOaNs5GC6KdrEwmpPRxG7spoKghOim7oK8y0MIEQRL+geGEIQ3UXQvSJ8IafZxUbjQhRDZoU60iYsSc9t5v87b84TsVe3mrBWpHoCICIAIACixYTUfOJM2Z62YO97TOULSIKaEQAyESAzEgISAgLpi48de87MLUqmezhGyhO4SCW7f4O81YiSJiCQIkbqmNcXMIjMXeilIGsQxDp8AnKDY5teL3PyU6h4CdY3Av7cYu58R0QghZWeT9fP0v2V7i8Y4j77As2c5sAwIFAXDgjInJxURAzub/PwxMZBGphZYeIWJWZ44xdo5bl4kK8kzioohUUREd4kXP+Kpd3nkee72+epNBleAxdfoLJBlDEuKkpxoBAkBjXGm53n8ZZ45S/shrr7P75eBo6eo9zAsKCqGRBEB/1zj89e5eo7tLRr7ePJtWg9wZZV7t2i2OPQcw5JiRE4UESN1ZPc2g0tceos/LtPYx9HTaPDNe8Dhl9gtyStyUiMIJDXLp2m0GHzN2gdMzdPq0F3k+pcc/4+x/UwepKzIiSDWTB/iwBLT8xw8xt07rJ8HHj7GbkX/B+DBxyhrciIQ2N2i2AG2fiPL+OsXoNVlWPDnDaC5l6qiJJWjLlHxxRs0JhhcIyvp/8SHJylKdiu++4Tr31NW7B8nkrwzp627d9nkHM0Wsea+GSY6tDvESEyY6TIxyZ4GSUp/nTubqyF7WrvZtaKrZ4QSQ+TIMUSJHCVypGhaHW448z+h1tLAgvKk7gAAAABJRU5ErkJggg==);
}
.ical {
	background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAYAAAAf8/9hAAAABGdBTUEAAK/INwWK6QAAABl0RVh0U29mdHdhcmUAQWRvYmUgSW1hZ2VSZWFkeXHJZTwAAAI1SURBVDjLpZPNS5RRFIef98NRG3M05gOaqMhCAoskEFtVO2kT5DZo1SZoW9EiFGrVok1/QhRGmlHYJoQy8wuJIoLQ0iH8nCGcMmzm3ntOi1edWbQJLxzOPZvffc7v3OOpKjs5IcCDkbVbqlx2KvtEBCdgRXBOcKJYJ1XhcFZxIlN3Lh7pCAFE9Wp3x+7k/7zc0zd7fJvAiSQB4v1XQBWcBXFgTHQvl8CUoWTAGH7fGMYYV1slsOWDwt4UiI1C7aZICUwJbBk+LwFgrKt44JxsCniwmAeViEQkInFbGchkAChvCqCq3H+5pOsbRh+OrKiqat/bZVVVffwuqp+MRfXgeJTzxQ29dG9KVTUiME4QVcIA+sdWCQKfgfFVwgCeTa4yunKbN4OCilAz3cPR7C7KJiLwt1pQIAw8uk+lCX240JmmxofzHWl8L6C15TC+H3DuZCYarZWKB8YJKhD68GI6z2ThLhNDiqoSvr+O73vMzecI/ICnEytkEz5KtYAVVJWaALraU4wNwaEDB/mWm6erPUXg3aSztRlxysxCkT2NtcRrw0oLViK1wPd49aEAwFwuh4fH8McCRkBEmV0s0tQQI9lYtz25EMBaG3ngw9ljScLgGmfakrz+VOB0W5KB8TxfF36SiMdIJeoQUQKfCoFxUQtt+xtY+rFBS6aeueV1ss0xvnwvkk1AoiFGuqk+Ig08RFSqPpKO9j6aOVF2EjfWYazDWcE4wTr7z11Y+/XnOYC303X+CyNCWo09HetwAAAAAElFTkSuQmCC);
}

/** Pagination */
.pagination {
	text-align: center;
}

.pagination li {
	list-style-type: none;
	display: inline;
}

.pagination a { /*border:                 1px solid #343a84;*/
	padding: 0.5em;
}

/** Graphics */
.graph img {
	width: 100%;
}

.graphs div.fullscreen {
	background-color: #555555;
	opacity: 0.8;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	display: table;
}

.graphs div.fullscreen img {
	display: table-cell;
	text-align: center;
	vertical-align: middle;
	width: auto;
	background-color: white;
	opacity: 1.0;
}

/** Streams */
.stream {
	padding: 0.8em;
	margin: 0.3em;
	border-radius: 1.2em;
/*	-moz-border-radius: 1.2em;
	-webkit-border-radius: 1.2em;*/
	white-space: nowrap;
	display: inline-block;
	background-color: #D9E1EE;
}

.stream .what {
	font-weight: bold;
}

.streams {
	padding: 0.7em;
	margin: 0;
}

.streams ul {
	padding: 0em;
	margin: 0em;
}

.streams h4 { /*display:		inline;*/
	padding: 0;
	margin: 0;
	line-height: 1.5em;
}

.streams .webplayer div {
	/*height: 1em;*/
	display: inline-block;
}

.streams .play:hover {
        cursor: pointer;
}

.streams .player {
        display: none;
}

/** Messages */
ul.messages {

	color: #666666;
	list-style-type: none;
	text-align: center;
	padding: 0;
	margin: 0;
}

ul.messages li {
	border: 1px solid #666666;
	background-color: #FFFFCC;
	padding: 0.5em;
	margin: 0 auto;
	margin-bottom: 1px;
	max-width: 25em;
	min-width: 15em;
}

/** Wiki */
a.doesnotexist {
	text-decoration: none;
	border-bottom: 1px dashed #aaa;
	color: #888;
}

div.info {
	border-top: 1px solid #C2E86C;
	background-color: #D4E8A8;
	font-size: 0.9em;
	margin-top: 1em;
/*	-webkit-border-bottom-right-radius: 1em;
	-webkit-border-bottom-left-radius: 1em;
	-moz-border-radius-bottomright: 1em;
	-moz-border-radius-bottomleft: 1em;*/
	border-bottom-right-radius: 1em;
	border-bottom-left-radius: 1em;
}

div.info span {
	display: inline-block;
	padding: 0.5em;
	/*background-color: #DFE8CA;*/
	border-right: 4px solid #C2E86C;
}

form.wakawaka_delete_form {
	padding: 1em;
	margin-top: 3em;
	background-color: #F3D39E;
}

form.wakawaka_delete_form p {
	margin: 0;
	display: inline;
}

form.wakawaka_delete_form select,form.wakawaka_delete_form input {
	width: 40%;
	min-width: 10em;
}

#content.wiki {
	padding: 0;
	padding-top: 1em;
	max-width: 42em;
	min-height: 0;
}

.wiki textarea {
	width: 100%;
	font-family: monospace;
}

.wiki table.history {
	border-collapse: collapse;
	border: none;
	font-size: 0.8em;
}

.wiki table.history th {
	border: none;
	padding: 0.5em 1em;
	border: 1px solid #aaa;
	background-color: #ccc;
}

.wiki table.history td {
	border: none;
	padding: 0.5em 1em;
	border: 1px solid #ddd;
}

.wiki pre.changes {
	width: 100%;
	overflow: auto;
	font-size: 0.8em;
	font-family: monospace;
}

.wiki p.revert-warning {
	background-color: #FEF098;
	padding: 1em;
	color: black;
}

#content.wiki div.page h2 {
	text-align: left;
}

.wiki div.page {
	/*font-family: monospace;
	font-size: 1.1em;
	line-height: 1.5em;*/
	margin-left: 2em;
	margin-right: 2em;
	min-height: 15em;
	margin-bottom: 2em;
}

.wiki h1 {
	margin-left: 1em;
	margin-right: 1em;
}

#breadcrumb ul {
	list-style-type: none;
	padding: 0;
	margin: 0;
}
#breadcrumb li {
	display: inline-block;
	padding: 0 1em;
}

/** End Wiki */
/** Admin */
#content.accounts {
	background-color: #daffda;
}

tr.required label:before {
	content: "* ";
}

.accounts th {
	text-align: left;
	vertical-align: top;
	padding-bottom: 0.5em;
	padding-right: 0.5em;
}

/*.accounts td {
	padding-bottom: 1.5em;
}*/


a.dashboard {
	background-color: #daffda;
	padding: 0.5em;
}

.accounts table {
	min-width: 20em;
}

.accounts input,.accounts textarea,.accounts select {
	min-width: 20em;
	/*width: 100%;
	border: 1px dashed black;*/
	padding: 0.3em;
}

.accounts select {
	max-width: 28em;
}

.accounts input[type=checkbox], .accounts input[type=file] {
	width: auto;
	min-width: 0;
}

.accounts td.help {
	font-size: small;
}

.accounts .explanation {
	text-align: justify;
}

.accounts .errorlist {
	padding: 0.1em;
	margin: 0;
	font-weight: bold;
	color: #dc3100;
	list-style-type: none;
}

.accounts input[readonly] {
	color: #AAAAAA;
}

.accounts .vDateField,.accounts .vTimeField {
	width: inherit;
}

.accounts .datetimeshortcuts {
	float: right;
}

