.top-bar-left, .top-bar-right {
	.menu {
		color: white;
		a {
			color: white;
		}
	}
}

.pagination .current {
	color: white;
}

.top-bar {
	margin-bottom: 1em;
	li a {
		&:hover {
			background-color: scale-color($topbar-background, $lightness: +15%);
		}
	}
}