<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="de" lang="de" class="no-js">
{% load cache i18n extshorturl_tags hosts staticfiles hijack_tags compress %}
  <head>
    <title>streams.xenim.de{% block title %}{% endblock %}</title>
    <meta http-equiv="Content-type" content="text/html;charset=UTF-8" />
    <meta charset="utf-8" />
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="icon" href="{% static "design/favicon.png" %}" type="image/png" />
    <link rel="apple-touch-icon" href="{% static "design/favicon.png" %}" />
    {% if not is_canonical %}<link rel="shortlink" href="{{ canonical }}" />{% endif %}
    {% block shorturl_head %}<link rel="shortlink" href="{% extshorturl %}" />{% endblock %}
    {% block head %}{% endblock %}

    {% compress css %}
    {% block head_css %}{% endblock %}
    <link rel="stylesheet" href="{% static "xenim/css/app.css" %}" />
    {% endcompress %}

    {% compress js %}
        {% block head_js %}{% endblock %}
    {% endcompress %}

  </head>
  <body>





{% block navigation %}
<div class="top-bar">
  <div class="top-bar-left">
    <ul class="menu">
    <li class="menu-text">Xenim</li>
      {% load i18n hosts %}
      {% host_url "shows" on "www" as show_url %}
      {% host_url "root" on "www" as root_var %}
      <li{% ifequal request.path root_var %} class="active"{% endifequal %}>
          <a href="{{ root_var }}"><i class="fa fa-home" aria-hidden="true"></i> {% trans "Home" %}</a>
      </li>
      <li><a href="#"><i class="fa fa-calendar" aria-hidden="true"></i> Kalender</a></li>

      <li{% if request.path|startswith:show_url %} class="active"{% endif %}>
        <a class="{% block collapsed_shows %}{% endblock %}collapsed" href="http:{{ show_url }}"><i class="fa fa-archive" aria-hidden="true"></i> {% trans "Archive" %}</a>
      </li>
      <li><a href=""><i class="fa fa-list" aria-hidden="true"></i> Shows</a></li>

    </ul>
  </div>
  <div class="top-bar-right">
    <ul class="dropdown menu" data-dropdown-menu>
      {% if request.user.is_superuser or user.is_staff or perms.portal.add_channel or perms.portal.add_show %}
      <li>
        <a href="#"><i class="fa fa-wrench" aria-hidden="true"></i> Admin</a>
        <ul class="menu vertical">
            {% if request.user.is_superuser %}
            <li><a href="{% host_url "admin-list-users" on "dashboard" %}"><i class="fa fa-users" aria-hidden="true"></i> {% trans "List of Users" %}</a></li>
            <li><a href="{% host_url "admin-wizard" on "dashboard" %}"><i class="fa fa-plus" aria-hidden="true"></i> {% trans "Create new User, Show, Channel and Stream" %}</a></li>
            {% endif %}
            {% if user.is_staff %}
                <li><a href="{% host_url "admin:index" on "dashboard" %}"><i class="fa fa-wrench" aria-hidden="true"></i> Django Admin</a></li>
            {% endif %}
            {% if perms.portal.add_channel %}
              <li><a href="{% host_url "admin-channel-create" on "dashboard" %}"><i class="fa fa-plus" aria-hidden="true"></i> {% trans "Create new Channel" %}</a></li>
            {% endif %}
            {% if perms.portal.add_show %}
              <li><a href="{% host_url "admin-show-create" on "dashboard" %}"><i class="fa fa-plus" aria-hidden="true"></i> {% trans "Create new Show" %}</a></li>
            {% endif %} 
        </ul>
      </li>
      {% endif %}


      {% if user.is_authenticated %}
        {% host_url "dashboard" on "dashboard" as profile_url %}
        <li{% if request.path|startswith:profile_url %} class="active"{% endif %}>
          <a href="{% host_url "dashboard" on "dashboard" %}"><i class="fa fa-cog" aria-hidden="true"></i> {% trans "Dashboard" %}</a>
          {% block navi_account %}{% endblock %}
        </li>
      {% endif %}

      {% if user.is_authenticated %}
      <li>
          <a href="#"><i class="fa fa-question" aria-hidden="true"></i> Hilfe</a> 
          <ul class="menu vertical">
            <li><a href="{% host_url "wiki-page" page="start" on "wiki" %}"><i class="fa fa-book" aria-hidden="true"></i> Doku</a></li>
            <li><a href="#"><i class="fa fa-envelope" aria-hidden="true"></i> Kontakt</a></li>
          </ul>    
      </li>
      {% endif %}


      <li>
        {% if user.is_authenticated %}
          <a href="#"><i class="fa fa-user" aria-hidden="true"></i> {{ user.username }}</a>
          <ul class="menu vertical">
            <li><a href="{% host_url "logout" on "dashboard" %}"><i class="fa fa-sign-out" aria-hidden="true"></i> Logout</a></li>
            <li><a href="{% host_url "django.contrib.auth.views.password_change" on "dashboard" %}"><i class="fa fa-key" aria-hidden="true"></i> {% trans "Change Password" %}</a></li>
          </ul>
        {% else %}
          <a href="{% host_url "login" on "dashboard" %}"><i class="fa fa-sign-in" aria-hidden="true"></i> Login</a>
        {% endif %}     
      </li>
    </ul>
  </div>
</div>
{% endblock %}

{{ request|hijackNotification }}
<div class="row">
  <div class="small-12 columns">
    {% block messages %}
        {% if messages %}
      <ul class="messages">
      {% for message in messages %}<li>{{ message }}</li>{% endfor %}
      </ul>
      {% endif %}
    {% endblock %}
  </div>
</div>


{% block content %}{% endblock %}

<footer>
  <hr>
  <div class="row">
    <div class="small-12 columns"> 
      <ul class="menu">
        {% comment %}{% host_url "statistic" on "www" as stat_url %}
        <li{% if request.path|startswith:stat_url %} class="active"{% endif %}>
          <a  href="{{ stat_url }}">{% trans "Statistics" %}</a>
          {% block navi_stats %}{% endblock %}
        </li>{% endcomment %}
        <li><a href="#"><i class="fa fa-envelope" aria-hidden="true"></i>
   Kontakt</a></li>
         {% host_url "news-list" on "www" as news_var %}
        <li{% ifequal request.path news_var %} class="active"{% endifequal %}>
            <a href="{{ news_var }}"><i class="fa fa-newspaper-o" aria-hidden="true"></i> {% trans "News" %}</a>
        </li>
        <li{% ifequal request.path "/about/" %} class="active"{% endifequal %}>
          <a href="/about/"><i class="fa fa-info" aria-hidden="true"></i> {% trans "About" %}</a>
        </li>
        <li><a href="#"><i class="fa fa-twitter" aria-hidden="true"></i> Twitter</a></li>
        <li><a href="http://status.xenim.de/"><i class="fa fa-cog" aria-hidden="true"></i> Status</a></li>
        <li><a href="/impressum/">Impressum</a></li>
        <li><a href="http://flattr.com/thing/2852/xenim-streaming" target="_blank">Flattr</a></li>
      </ul>
    </div>
  </div>
</footer>


{% compress js %}  
    {% block bottom_js %}
    {% load staticfiles %}
    <script src="{% static "xenim/js/jquery.min.js" %}"></script>
    <script src="{% static "xenim/js/foundation.min.js" %}"></script>
    <script>
      $(document).foundation();            
    </script>
    {% endblock %}
{% endcompress %}


  </body>
</html>
