<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="de" lang="de" class="no-js">
{% load cache i18n extshorturl_tags hosts staticfiles hijack_tags compress %}
  <head>
    <title>streams.xenim.de{% block title %}{% endblock %}</title>
    <meta http-equiv="Content-type" content="text/html;charset=UTF-8" />
    <meta charset="utf-8" />
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="icon" href="{% static "design/favicon.png" %}" type="image/png" />
    <link rel="apple-touch-icon" href="{% static "design/favicon.png" %}" />
    {% if not is_canonical %}<link rel="shortlink" href="{{ canonical }}" />{% endif %}
    {% block head %}{% endblock %}
    {% block shorturl_head %}<link rel="shortlink" href="{% extshorturl %}" />{% endblock %}
    {% compress css %}
    {% block head_css %}{% endblock %}
    <link rel="stylesheet" href="{% static "xenim/css/app.css" %}" />

{% if phase %}
<!-- <style>
body, html {
background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' version='1.1' height='80px' width='{% widthratio 21 1 phase|length %}px'><text x='0' y='80' fill='white' background='transparent' font-size='25' font-family='sans' font-weight='bold' transform='rotate(-30)'>{{ phase|slice:":-1" }}</text></svg>");
}
</style> -->
{% endif %}





{% endcompress %}
{% compress js %}  
    {% block head_js %}{% endblock %}
{% endcompress %}
  </head>
  <body>
{{ request|hijackNotification }}




<div class="top-bar">
  <div class="top-bar-left">
    <ul class="menu">
    <li class="menu-text">Xenim</li>
      {% host_url "root" on "www" as root_var %}
      <li{% ifequal request.path root_var %} class="active"{% endifequal %}>
          <a href="{{ root_var }}">{% trans "Home" %}</a>
      </li>
      {% block navigation %}{% endblock %}
    </ul>
  </div>
  <div class="top-bar-right">
    <ul class="menu">
      <li>
        {% if user.is_authenticated %}
        <a href="{% host_url "logout" on "dashboard" %}">Logout {{ user.username }}</a>
        {% else %}
        <a href="{% host_url "login" on "dashboard" %}">Login</a>
        {% endif %}     
      </li>
    </ul>
  </div>
</div>

<div class="row">
  <div class="small-12 columns">{% block messages %}{% endblock %}</div>
</div>


<div class="row">
  <div class="{% block content_class %}{% endblock %} small-12 medium-10 columns medium-centered">
      {% block content %}{% endblock %}
    </div>
</div>
    

<div class="row">
  <div class="small-12 columns"> 
    <ul class="menu">
      {% host_url "news-list" on "www" as news_var %}
      <li{% ifequal request.path news_var %} class="active"{% endifequal %}>
          <a href="{{ news_var }}">{% trans "News" %}</a>
      </li>
      <li{% ifequal request.path "/about/" %} class="active"{% endifequal %}>
        <a href="/about/">{% trans "About" %}</a>
      </li>
      {% if user.is_authenticated %}
      <li>
        <a href="{% host_url "wiki-page" page="start" on "wiki" %}">Wiki</a>
      </li>
      {% endif %}
      {% if user.is_staff %}
      <li><a href="{% host_url "admin:index" on "dashboard" %}">Django Admin</a></li>
      {% endif %}
      <li><a href="http://status.xenim.de/">Status</a></li>
      <li><a href="/impressum/">Impressum</a></li>
      <li><a href="http://flattr.com/thing/2852/xenim-streaming" target="_blank"><img src="{% static "design/flattr-badge-large.png" %}" alt="Flattr this" title="Flattr this" border="0" /></a></li>
    </ul>
  </div>
</div>


    <script src="{% static "xenim/bower_components/foundation-sites/dist/foundation.min.js" %}"></script>
    <script>
      $(document).foundation();
    </script>

  </body>
</html>
